@model FormTariffViewModel


<form class="form" method="post">
    <div class="form__field">
        <select class="form__input" required name="TypeId">
            @if (Model.HasTariff)
            {
                foreach (var item in Model.Types)
                {
                    if (item.Id == Model.Tariff.TypeId)
                    {
                        <option class="form__option" value="@item.Id">@item.Name</option>
                        break;
                    }

                }

                foreach (var item in Model.Types)
                {
                    if (item.Id != Model.Tariff.TypeId)
                    {
                        <option class="form__option" value="@item.Id">@item.Name</option>
                    }
                }
            }
            else
            {
                <option class="form__option">Please choose type</option>

                foreach (var item in Model.Types)
                {
                    <option class="form__option" value="@item.Id">@item.Name</option>

                }
            }

        </select>
        @Html.ActionLink("New", "New", "Type", null, new { @class = "form__add-button button" })
    </div>
    <div class="form__field">
        <input class="form__input" type="text" name="Cost" placeholder="Cost" value="@(Model.HasTariff ? Model.Tariff.Cost : string.Empty)" />
    </div>
    <div class="form__field">
        <input class="form__input" type="text" name="Unit" placeholder="Unit" value="@(Model.HasTariff ? Model.Tariff.Unit : string.Empty)" />
    </div>
    <div class="form__field">
        <input class="form__input" type="date" name="Date" placeholder="Date" value="@(Model.HasTariff ? Convert.ToDateTime(Model.Tariff.Date).ToString("yyyy-MM-dd") : string.Empty)" />
    </div>
    <div class="form__field">
        <input class="form__input" type="text" name="Source" placeholder="Source" value="" />
    </div>
    <div class="form__field form__field--button">
        <input class="form__input button button--blue" type="submit" value="Submit" />
    </div>
</form>

